In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import geopandas as gpd
%matplotlib inline

pd.set_option("max_rows",100)

In [3]:
# Filepath to read Crash Data shapefile
filepath_crash_data = "NYC Crash Data - Cashmapper/cartodb-query.shp"
filepath_nyc_boundaries = "Borough Boundaries/geo_export_df017658-06e6-4fbf-8be1-4070c446823f.shp"

In [4]:
Crash_data_gdf = gpd.read_file(filepath_crash_data)
NYC_gdf = gpd.read_file(filepath_nyc_boundaries)

In [5]:
Crash_data_gdf.shape

(38877, 21)

In [7]:
Crash_data_gdf.head()

,cartodb_id,socrata_id,on_street_,cross_stre,date_time,latitude,longitude,borough,zip_code,crash_coun,...,number_o_1,number_o_2,number_o_3,number_o_4,number_o_5,number_o_6,number_o_7,contributi,vehicle_ty,geometry
0,2043328,3656795.0,None,79 WEST DRIVE,2017-04-24,NaN,NaN,None,None,1,...,0,0,0,0,0,1,0,Driver Inattention/Distraction,BICYCLE,None
1,2509642,4124171.0,AVENUE A,None,2019-04-29,40.727844,-73.98223,Manhattan,10009,1,...,0,0,0,0,0,1,0,Alcohol Involvement,Bike,POINT (-73.98223 40.72784)
2,2413283,4069947.0,6 AVENUE,None,2019-01-27,40.669846,-73.98244,Brooklyn,11215,1,...,0,0,0,0,0,1,0,Unspecified,Bike,POINT (-73.98244 40.66985)
3,2083437,3703671.0,61 STREET,None,2017-07-02,40.741280,-73.90257,Queens,None,1,...,0,0,0,0,0,1,0,"Driver Inattention/Distraction,Driver Inattent...","PASSENGER VEHICLE,BICYCLE",POINT (-73.90257 40.74128)
4,2449473,4026726.0,WEST 111 STREET,None,2018-11-11,40.801230,-73.95770,Manhattan,10026,1,...,0,0,0,0,0,1,0,"Unspecified,Unspecified","Sedan,Bike",POINT (-73.95770 40.80123)

In [6]:
Crash_data_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 38877 entries, 0 to 38876
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cartodb_id  38877 non-null  int64
 1   socrata_id  38877 non-null  float64
 2   on_street_  33122 non-null  object
 3   cross_stre  19909 non-null  object
 4   date_time   38877 non-null  object
 5   latitude    36346 non-null  float64
 6   longitude   36346 non-null  float64
 7   borough     37245 non-null  object
 8   zip_code    30307 non-null  object
 9   crash_coun  38877 non-null  int64
 10  number_of_  38877 non-null  int64
 11  number_o_1  38877 non-null  int64
 12  number_o_2  38877 non-null  int64
 13  number_o_3  38877 non-null  int64
 14  number_o_4  38877 non-null  int64
 15  number_o_5  38877 non-null  int64
 16  number_o_6  38877 non-null  int64
 17  number_o_7  38877 non-null  int64
 18  contributi  38823 non-null  object
 19  vehicle_ty  38877 non-null  object
 20  geometry    36294 non-null  geometry
dtypes: float64(3), geometry(1), int64(10), object(7)
memory usage: 6.2+ MB